@keyframes down {
	0% {
		transform: translate(0, 0)
	}
	100% {
		transform: translate(0, -100%);
	}
}

@keyframes up {
	0% {
		transform: translate(0, -100%);
	}
	100% {
		transform: translate(0, 0);
	}
}

@keyframes show {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

.user_nav {
	-webkit-user-select: none;
	user-select: none;
	background-color: white;
	width: 100%;
	box-sizing: border-box;
	position: fixed;
	padding: 30px max(40px, min(5vw, 80px));
	justify-content: space-between; 
	align-items: center; 
	display: inline-flex;
	z-index: 2;
	box-shadow: 0 1px 5px #C2C2C2;
}

.user_nav.up {
	transform: none;
}

.user_nav.down {
	transform: translate(0, -100%);
}

@media (prefers-reduced-motion: no-preference) {
  .user_nav.down {
    animation-name: down;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .user_nav.up {
    animation-name: up;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
  }
}

.logo_area {
	justify-content: center;
	align-items: center; 
	gap: 10px; 
	display: flex;
}

.logo {
	width: 52px; 
	height: 52px;
	border-radius: 10px;
}

.logo_name {
	color: #1E8B93; 
	font-size: 20px; 
	font-family: Montserrat Alternates; 
	font-weight: 600;
}

.user_nav .menu {
	justify-content: flex-start; 
	align-items: center; 
	gap: max(10px, min(40px, 2.6vw)); 
	display: flex;
}

.user_nav .menu_cont.menu_cont_public {
	display: inline-flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.user_nav .menu .menu_item {
	color: black; 
	font-size: max(10px, min(16px, 1.25vw)); 
	font-family: Montserrat Alternates; 
	font-weight: 500;
	border-radius: 20px;
	padding: 5px 10px;
	transition: 0.3s background;
}

@media(hover:hover) {
	.user_nav .menu .menu_item:hover {
		cursor: pointer;
		background: rgba(26.35, 88.38, 102, 0.10);
	}
}

.user_nav .menu .menu_item:active {
	background: rgba(26.35, 88.38, 102, 0.20);
}

.user_nav .button_area {
	justify-content: flex-start; 
	align-items: center; 
	gap: 20px; 
	display: flex;
}

.user_nav .button_area .login_button {
	text-align: center;
	padding: 10px 20px;
	background: #1E8B93; 
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25); 
	border-radius: 10px; 
	overflow: hidden; 
	justify-content: center; 
	align-items: center; 
	gap: 10px; 
	display: inline-flex;
	color: white; 
	font-size: 20px; 
	font-family: Montserrat Alternates; 
	font-weight: 600;
	cursor: pointer;
}

.user_nav .button_area .logout_button {
	text-align: center;
	padding: 10px 20px;
	background: #1E8B93; 
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25); 
	border-radius: 10px; 
	overflow: hidden; 
	justify-content: center; 
	align-items: center; 
	gap: 10px; 
	display: inline-flex;
	color: white; 
	font-size: 20px; 
	font-family: Montserrat Alternates; 
	font-weight: 600;
	cursor: pointer;
}

.user_nav .button_area .rules_button {
	text-align: center;
	padding: 10px 20px;
	background: #1E8B93; 
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25); 
	border-radius: 10px; 
	overflow: hidden; 
	justify-content: center; 
	align-items: center; 
	gap: 10px; 
	display: inline-flex;
	color: white; 
	font-size: 20px; 
	font-family: Montserrat Alternates; 
	font-weight: 600;
}

.user_nav .button_area .lang_button {
	padding: 8px 20px;
	align-self: stretch; 
	border-radius: 10px; 
	border: 2px #1E8B93 solid; 
	justify-content: center; 
	align-items: center; 
	gap: 10px; 
	display: inline-flex;
	color: black; 
	font-size: 20px; 
	font-family: Montserrat Alternates; 
	font-weight: 500;
}

.user_nav .button_area .back_button {
	cursor: pointer;
	padding: 10px 20px;
	border-radius: 10px; 
	color: white;
	font-size: 20px; 
	font-family: Montserrat Alternates; 
	font-weight: 600;
	background: #1E8B93; 
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.user_nav .button_area .acc_button {
	width: 70px; 
	height: 44px;
}

.user_nav .button_area .acc_cont {
	display: flex;
	width: 60px;
	height: 44px;
	border-radius: 10px; 
	background-color: rgba(0, 0, 0, 0);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25)
}

.user_nav .button_area #lang_change {
	width: 8.76px; 
	height: 15px;
}

.user_nav .user_area {
	white-space: nowrap;
	padding: 10px min(40px, 2.6vw);
	box-shadow: 0px 2px 14.800000190734863px rgba(0, 0, 0, 0.20); 
	border-radius: 10px; 
	border: 3px #1E8B93 solid; 
	justify-content: flex-start; 
	align-items: center; 
	gap: min(40px, 2.6vw); 
	display: flex;
}

.user_nav .user_area div {
	color: black; 
	font-size: min(20px, 1.5vw); 
	font-family: Montserrat Alternates; 
	font-weight: 500;
} 

.dialog.out {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	padding: 40px 60px;
	gap: 40px;
	border-radius: 20px;
	background: #1E8B93;
	display: none;
	flex-direction: column;
	z-index: 4;
}

.dialog.out .content {
	color: white;
	font-size: 24px;
	font-family: Montserrat Alternates;
	font-weight: 500;
}

.dialog.out .button_area {
	display: inline-flex;
	justify-content: space-between;
	gap: 40px;
	align-self: stretch;
}

.dialog.out .button {
	user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
	width: 270px;
	padding: 10px 0;
	background: linear-gradient(180deg, #FCFCFC 16%, white 20%, #FFFFFF 55%, #EFEFEF 80%); 
	box-shadow: 7px 7px 6.699999809265137px #1A5866; 
	border-radius: 10px;
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	font-size: 24px;
	font-family: Montserrat;
	font-weight: 600;
}

.shadow {
	position: fixed;
	top: 0;
	left: 0	;
	width: 100%;
	height: 100%;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.25)
}

.show {
	animation: show 0.2s 1;
	display: inline-flex !important;
}

.centred {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}