.weight {
    cursor: grab;
}

.choiced {
    cursor: grabbing;
    z-index: 3;
    position: relative;
}

.svg_with_buttons {
    width: 100%;
    justify-content: center;
    align-items: stretch;
    display: inline-flex;
    gap: 80px;
}

.buttons {
    display: inline-flex;
    flex-direction: column;
    gap: 15px;
    max-width: 230px;
    align-items: stretch;
    font-size: 23px;
    font-family: Montserrat;
}

.weight_button {
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font: inherit;
    cursor: pointer;
}

.clear_button {
    padding: 10px 20px;
    border-radius: 5px;
    font: inherit;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.remaining_weightings {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px 10px;
    font: inherit;
    border-radius: 8px;
    background-color: white;
    border: 1px black solid;
}

.history {
    display: inline-flex;
    flex-direction: column;
    padding: 10px 10px;
    font-size: 14;
    gap: 5px;
    background-color: white;
    border: 1px black solid;
}