.board {
  width: 100%;
  box-sizing: border-box;
  max-width: 1080px;
}

.number-container {
  position: relative;
}

.inner-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffff;
}

.board img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.number-section,
.empty-space {
  display: flex;
  font-size: 64px;
}

.number {
  display: flex;
  align-items: baseline;
  align-items: center;
}

.drop-zone {
  width: 50px;
  height: 30px;
  border-bottom: 4px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.drop-zone.highlight {
  border-bottom: 4px solid #00b3ff;
}

.drop-zone.fill {
  border-bottom: 0;
}

.empty-space {
  width: auto;
  text-align: center;
  margin: 0 10px;
}

.result {
  margin-top: 20px;
}

.group-signs {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 60px;
  color: black;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 64px;
}

.group-signs span {
  background-color: none;
}

.item-sign {
  border: 2px solid black;
  box-shadow: 12px 12px 14px 0px #00000040;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: move;
}

.sign {
  font-weight: bold;
}

.sign.red,
.item-sign:nth-child(1) {
  color: #ef1f0c;
}

.sign.violet,
.item-sign:nth-child(2) {
  color: #e16aff;
}

.sign.orange,
.item-sign:nth-child(3) {
  color: #ff9900;
}

@media screen and (max-width: 1100px) {
  .number-section {
    font-size: 54px;
  }

  .item-sign {
    width: 80px;
    height: 80px;
  }

  .group-signs {
    font-size: 64px;
  }

  .drop-zone {
    width: 45px;
  }
}

@media screen and (max-width: 1000px) {
  .number-section {
    font-size: 44px;
  }

  .item-sign {
    width: 60px;
    height: 60px;
  }

  .group-signs {
    font-size: 54px;
  }

  .drop-zone {
    width: 40px;
  }
}

@media screen and (max-width: 900px) {
  .number-section {
    font-size: 34px;
  }

  .item-sign {
    width: 40px;
    height: 40px;
  }

  .group-signs {
    font-size: 44px;
  }

  .drop-zone {
    width: 35px;
  }
}

@media screen and (max-width: 600px) {
  .number-section {
    font-size: 28px;
  }

  .item-sign {
    width: 25px;
    height: 25px;
  }

  .group-signs {
    font-size: 28px;
  }

  .drop-zone {
    width: 25px;
  }

  .empty-space {
    width: 10px;
  }
}
