.tries {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 2fr;
	gap: 30px;
}

.try__item {
	background-color: rgba(255, 255, 255, 1);
	border: 1px rgba(30, 139, 147, 1) solid;
	color: rgba(30, 139, 147, 1);
	height: 60px;
	width: 60px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5em;
}

.try__result {
	display: inline-flex;
	justify-content: center;
	background-color: rgba(230, 230, 230, 1);
	border-radius: 10px;
	gap: 10px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5em
}

.circle {
	width: 40px;
	height: 40px;
	border-radius: 100%;
}

.circle_yellow {
	background-color: rgba(240, 204, 0, 1);
}

.circle_green {
	background-color: rgba(124, 224, 1, 1);
}

.circle_red {
	background-color: rgba(219, 60, 32, 1);
}

.game-plot {
	width: 100%;
	display: inline-flex;
	justify-content: center;
	gap: 7%;
	align-items: center;
}