.row {
	margin-top: 140px;
	width: 100%;
	display: inline-flex;
	gap: 80px;
	justify-content: center;
}

.row .column {
	width: 120px;
	display: inline-flex;
	flex-direction: column;
	gap: 20px;
	align-self: stretch;
}

.row .column .name {
	font-family: Montserrat;
	font-weight: 700;
	text-align: center;
	align-self: stretch;
	font-size: 14px;
}

.casket {
	position: absolute;
	transform: scale(0.5) translate(-50%, -150%);
	margin-top: -10px;
	cursor: pointer;
}