.plot_area {
	margin: 40px auto 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	z-index: 1;
	position: relative;
	user-select: none
}

.outside{
	fill: url(#cupShadowOutside);
	stroke: #949494;
	stroke-width: 2;
}

.inside{
	fill: url(#cupShadowInside);
	stroke: #949494;
	stroke-width: 2;
}

line{
	stroke: #484848;
	stroke-width: 2;
}

.hinge{
	fill: #A7763D;
	stroke: #815A30;
	stroke-width: 4;
}

.plank{
	fill: url(#blankShadow);
	stroke: #976B38;
	stroke-width: 2;
}

.base_plank{
	fill: url(#baseBlankShadow);
	stroke: #976B38;
	stroke-width: 2;
}

.base_inside{
	fill: #B68645;
	stroke: #976B38;
	stroke-width: 2;
}

.base_outside{
	stroke: #86755B;
	stroke-width: 2;
}

ellipse.base_outside{
	fill: url(#baseBlankShadow);
}

path.base_outside{
	fill: url(#baseBlankShadow);
}

.coin{
	fill: url(#coinShadow);
	stroke: #cbab00;
	stroke-width: 4;
	cursor: grab;
}

text{
	font-family: inherit;
	text-anchor: middle;
	dominant-baseline: central;
}

text.coin_text{
	font-weight: 1000;
	font-size: 2.3em;
	fill: #705e00;
}

.interface_zone{
	z-index: 1;
	display: flex;
	padding: 0 auto 0 auto;
	flex-direction: column;
}

.interface_zone *{
	margin-bottom: 20px;
	width: 8em;
}

.interface_zone button{
	padding: 0.3em 1.0em;
}

.remaining_weightings *{
	margin-bottom: 0;
}

.remaining_weightings{
	text-align: center;
	border-radius: 0.5em;
	border: #9a9aa7 1px solid;
}

.answer_area .button{
	text-align: center;
	border-radius: 0.2em;
	border: #9a9aa7 1px solid;
	background-color: #e9e9ed;
}

.answer_area .button *{
	margin-bottom: 0;
}

@media(min-width:961px) {
	.interface_zone .button:hover{
		background-color: #D0D0D7;
	}
}

.button:active {
	background-color: #B1B1B9
}

.coin_container_drag{
	fill: #e9e9ed;
	stroke:  #9a9aa7;
	stroke-width: 2;
}

rect.coin_container_name{
	fill: #e9e9ed;
	stroke:  #9a9aa7;
	stroke-width: 2;
}

text.coin_container_name{
	font-size: 0.8em;
}

.targeted{
	cursor: grabbing;
}

svg{
	z-index: 2;
}

rect.answer_zone{
	fill:none;
}

.drag_zone rect{
	fill: #e9e9ed;
}

.history {
	display: inline-flex;
	flex-direction: column;
	gap: 10px;
	padding: 15px 15px;
	align-self: center;
	box-sizing: border-box;
	border-radius: 0.5em;
	border: #9a9aa7 1px solid;

}

.history .item {
	width: 100%;
	display: inline-flex;
	flex-direction: column;
	gap: 2px;
	margin-bottom: 0;
}

.history .item * {
	margin-bottom: 0;
	margin-top: 0;
}

.history .item .header {
	font-weight: 700;
	font-size: large;
}