.plot_area {
	margin: 40px auto 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
	z-index: 1;
	position: relative;
	user-select: none
}

.outside{
	filter: grayscale(100%);
	fill: url(#cupShadowOutside);
	stroke: #A89800;
	stroke-width: 2;
}

.inside{
	filter: grayscale(100%);
	fill: url(#cupShadowInside);
	stroke: #9E8E00;
	stroke-width: 2;
}

line{
	filter: grayscale(100%);
	stroke: #544C01;
	stroke-width: 2;
}

.hinge{
	filter: hue-rotate(-24.81deg) saturate(60.43%) brightness(82.16%);
	fill: #B0A000;
	stroke: #887A01;
	stroke-width: 4;
}

.plank{
	filter: hue-rotate(-24.81deg) saturate(60.43%) brightness(82.16%);
	fill: url(#blankShadow);
	stroke: #9E8E00;
	stroke-width: 2;
}

.base_plank{
	filter: hue-rotate(-24.81deg) saturate(60.43%) brightness(82.16%);
	fill: url(#baseBlankShadow);
	stroke: #9E8E00;
	stroke-width: 2;
}

.base_inside{
	filter: hue-rotate(-24.81deg) saturate(60.43%) brightness(82.16%);
	fill: #C9B700;
	stroke: #9E8E00;
	stroke-width: 2;
}

.base_outside{
	filter: hue-rotate(-24.81deg) saturate(60.43%) brightness(82.16%);
	stroke: #7b7b3b;
	stroke-width: 2;
}

ellipse.base_outside{
	fill: url(#cupShadowOutside);
}

path.base_outside{
	fill: url(#cupShadowOutside);
}

.coin{
	fill: url(#coinShadow);
	stroke: #cbab00;
	stroke-width: 4;
}

text{
	font-family: inherit;
	text-anchor: middle;
	dominant-baseline: central;
}

text.coin_text{
	font-weight: 1000;
	font-size: 2.3em;
	fill: #705e00;
}

.interface_zone{
	z-index: 1;
	display: flex;
	padding: 0 auto 0 auto;
	flex-direction: column;
}

.interface_zone *{
	margin-bottom: 20px;
	width: 8em;
}

.interface_zone button{
	padding: 0.3em 1.0em;
}

.remaining_weightings *{
	margin-bottom: 0;
}

.remaining_weightings{
	background-color: #e9e9ed;
	text-align: center;
	border-radius: 0.5em;
	border: #9a9aa7 1px solid;
}

.coin_container_drag{
	fill: #e9e9ed;
	stroke:  #9a9aa7;
	stroke-width: 2;
}

rect.coin_container_name{
	fill: #e9e9ed;
	stroke:  #9a9aa7;
	stroke-width: 2;
}

text.coin_container_name{
	font-size: 0.8em;
}

.coin{
	cursor: grab;
}

.targeted{
	cursor: grabbing;
}

svg{
	z-index: 2;
}
