body{
	-webkit-user-select: none;
	user-select: none;
}

.plot_area{
	margin: 0 auto 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;	
	z-index: 1;
	position: relative;
}

.square {
	fill: transparent;
}

@media(hover:hover) and (pointer:fine) {
	.square:hover{
		cursor: pointer;
	}
	.square:not(.choiced):hover{
		fill: rgba(0, 0, 0, 0.15);  
	}
}

.tick{
	fill:green;
	pointer-events: none;
}

.coin{
	fill: url(#coinShadow);
	stroke: gray;
	stroke-width: 1;
	cursor: grab;
}

.choiced{
	fill: rgba(250, 250, 0, 0.7);
}

.grid_line{
	stroke: lightgray;
	stroke-linecap: square;
	stroke-width: 2;
}

.border_line{
	stroke:black;
	stroke-linecap: square;
	stroke-width: 2;
}

