body{
	-webkit-user-select: none;
	user-select: none;
}

.plot_area{
	margin: 0 auto 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;	
	z-index: 1;
	position: relative;
}

.drag_zone{
	display: flex;
	flex-direction: column;
}

.full_window{
	position: absolute;
}

.border_line {
    stroke: black;
    fill:#f4d06f;
}

.active{
	cursor: grab;
}

.targeted{
	cursor: grabbing;
}

.top{
	fill:transparent;
}

text.bottom{
	stroke: black;
	fill: brown;
	font-family: gotham;
	font-size: 50px;
}

@media(min-width: 961px) {
	.top:hover{
		cursor: pointer;
		fill:rgba(0, 0, 0, 0.15);
	}
}


.reload{
	cursor: pointer;
}

text{
	font-size: 30px;
	text-anchor: middle;
	dominant-baseline: central;
	font-family: inherit;
	font-weight: 1000
}