.line{
	stroke: black;
	stroke-linecap: square;
}

.dotted_line{
	stroke: black;
	stroke-linecap: square;
	stroke-dasharray:10,10;
}

.plot_area {
	margin: 40px auto 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
	z-index: 1;
	position: relative;
	user-select: none
}

.point{
	fill: grey;
}

@media(hover:hover) and (pointer:fine) {
	.point:hover{
		cursor: pointer;
	}
}

.selected{
	fill: red;
}