body{
	-webkit-user-select: none;
	user-select: none;
}

.plot_area{
	margin: 0 auto 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
}

.board_zone{
	position: relative;
	z-index: 1;
}

.drag_zone{
	display: flex;
	flex-direction: column;
}

.full_window{
	position: absolute;
}

.brown{
	fill: brown;
}

.white{
	fill: white;
}

.rook{
	background-size: 100%;
	background-image: url("/static/rook.png");
	background-position: center;
	background-repeat: no-repeat;
	z-index: 2;
	position: absolute;
}

.rook:hover{
	cursor: pointer;
}

.grid_line{
	stroke: black;
	stroke-linecap: square;
}

.targeted{
	position: absolute;
	z-index: 100;
}

.reload{
	background-size: 100%;
	background-image: url("/static/reload.png");
	background-position: center;
	background-repeat: no-repeat;
	margin-top: auto;
}

.reload:hover{
	cursor: pointer;
}

.rook_amount{
	font-weight: 1000;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}