body{
	-webkit-user-select: none;
	user-select: none;
}

.plot_area{
	margin: 0 auto 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
	z-index: 1;
	position: relative;
}

.drag_zone{
	display: flex;
	flex-direction: column;
}

.full_window{
	position: absolute;
}

.active{
	fill:transparent;
}
.colored{
	fill:red;
}
.passive{
	fill:green;
}

.gray{
	fill:lightgray;
}

.grid_line{
	stroke: black;
	stroke-linecap: square;
}


.reload:hover {
	cursor: pointer;
}

.active:hover {
	cursor:pointer;
	fill:rgba(0, 0, 0, 0.15);
}

text{
	font-size: 30px;
	text-anchor: middle;
	dominant-baseline: central;
	font-family: inherit;
	font-weight: 1000
}