.white {
	fill: white;
}

.grid_line{
	stroke: black;
	stroke-linecap: square;
}

text {
	font-weight: 1000;
	font-family: inherit;
	font-size: 30px;
	text-anchor: middle;
	dominant-baseline: central;
}

.plot_area {
	margin: 40px auto 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
	z-index: 1;
	position: relative;
	user-select: none
}

.free:hover{
	cursor: pointer;
	fill: rgba(0, 0, 0, 0.15);
}