.plot_area{
	margin: 0 auto 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;	
	z-index: 1;
	position: relative;
	-webkit-user-select:none;
	user-select: none;
}
.grass {
	fill: url(#grassGradient);
}
.grid_line{
	stroke: #91a359;
	stroke-linecap: square;
	stroke-width: 1;
}

.border_line{
	stroke:black;
	stroke-linecap: square;
	stroke-width: 2;
}

.inside_line{
	stroke-linecap: square;
	stroke-width: 2;
}

.not_choiced {
	stroke:black;
}

.choiced {
	stroke: grey;
}