.hinge{
	fill: #A7763D;
	stroke: #815A30;
	stroke-width: 4;
}

.plank{
	fill: url(#blankShadow);
	stroke: #976B38;
	stroke-width: 2;
}

.base_plank{
	fill: url(#baseBlankShadow);
	stroke: #976B38;
	stroke-width: 2;
}

.base_top{
	fill: #B68645;
	stroke: #976B38;
	stroke-width: 2;
}

.base_outside{
	stroke: #86755B;
	stroke-width: 2;
}

ellipse.base_outside_top{
	fill: url(#baseBlankShadow);
}

path.base_outside{
	fill: url(#baseBlankShadow);
}
