.cake {
	fill: #F7D9AF;
	cursor: pointer;
}

.cake.choiced {
	fill: #F4BB70;
}

@media (hover:hover) {
	.cake:hover {
		fill: #F2C182;
	}
}

.grid_line{
	stroke: #EAA54A;
	stroke-linecap: round;
}

.plot_area {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.point {
	pointer-events: none;
}