.inRow {
    display: inline-flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10vw;
}

.diplomat {
    width: 270px;
    height: 270px;
}

.lockBorder {
    width: 200px;
    height: 200px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 3px black solid;
    border-radius: 20px;
}