.problem-plot {
	display: inline-flex;
	justify-content: center;
	width: 100%;
	gap: 20px;
}

.drop-container {
	display: inline-flex;
	overflow: hidden;
	border-radius: 10px;
}

.drop-container__background {
	width: 860px;
}

.drop-container__content {
	position: absolute;
	display: inline-flex;
	gap: 150px;
	width: 860px;
	margin-top: 245px;
	justify-content: center;
	align-self: center;
}


.drag-container {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	gap: 30px;
	padding: 40px 10px;
	background-color: rgba(166, 166, 166, 0.2);
	border-radius: 10px;
	width: 130px;
}

.drag-person {
	width: 130px;
	height: 194px;
	cursor: pointer;
}


.drag-person_target {
	position: fixed;
	z-index: 1;
	transform: translate(-50%, -50%);
}

.drag-person_placeholder {
	opacity: 0.5;
}

.place {
	width: 130px;
	height: 194px;
}

.place_first {
	position: relative;
	top: -10px;
}

.place_third {
	position: relative;
	top: 10px;
}