.predictions-problem {
	display: inline-flex;
	width: 100%;
	flex-direction: column;
	gap: 20px;
}

.drag-container {
	display: inline-flex;
	gap: 20px;
	width: 100%;
	justify-content: center;
}

.drag-block {
	width: 20%;
	height: 2em;
	border: 2px solid rgba(30, 139, 147, 1);
	border-radius: 10px;
	box-sizing: 10px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-family: Montserrat Alternates;
	color: rgba(30, 139, 147, 1);
	background-color: white;
	cursor: pointer;
	transition: 0.3s all;
}

.drag-block_active-false {
	opacity: 0.3;
}

.drag-block_target {
	z-index: 1;
	position: fixed;
	transform: translate(-50%, -50%);
	transition: none;
}

.drop-containers {
	display: inline-flex;
	width: 100%;
	align-items: stretch;
	gap: 20px;
}

.drop-container {
	display: inline-flex;
	padding: 30px 10px 10px 20px;
	border-radius: 10px;
	width: 50%;
}

.drop-container_girls {
	background-color: rgba(255, 203, 253, 0.4);
}

.drop-container_boys {
	background-color: rgba(194, 234, 255, 0.4);
}

.drop-container .drag-block {
	color: white;
	border: none;
	width: 100%;
}

.drop-container_girls .drag-block {
	background-color: rgba(255, 134, 249, 1);
}

.drop-container_boys .drag-block {
	background-color: rgba(115, 202, 255, 1);
}

.drop-container__content {
	width: 50%;
	display: inline-flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
}

.drop-container__title {
	font-weight: 700;
	font-size: 1.5em;
	font-family: Montserrat Alternates;
}

.drop-container__image {
	width: 50%;
}