svg {
	width: 50%;
}

.item {
	stroke-width: 1px;
	stroke: black;
}

.orange {
	fill: orange;
}

.white {
	fill: white;
}

.active {
	cursor: pointer;
}

.possible_position {
	fill: lightgreen;
	stroke: none;
	filter: blur(1px);
}

.possible.item {
	cursor: pointer;
}

.queen.player {
	-webkit-filter: drop-shadow(0 0 0.07rem green);
  	filter: drop-shadow(0 0 0.07rem green);
}

.queen.computer {
	-webkit-filter: drop-shadow(0 0 0.07rem red);
  	filter: drop-shadow(0 0 0.07rem red);
}

.game_plot {
	width: 100%;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.turn_sign {
	font-weight: 600;
	font-size: 1.5em;
}

.turn_sign.player {
	color: lightgreen;
	text-stroke: 1px darkgreen;
	-webkit-text-stroke: 1px darkgreen;
}

.turn_sign.computer {
	text-stroke: 1px darkred;
	-webkit-text-stroke: 1px darkred;
	color: lightcoral;
}