@charset "utf-8";

html {
	font-family: "Linux Biolinum", sans-serif;
}

main {
	max-width: 50em;
	margin: 1em 5em;
}

.button_bar {
	text-align: right;
}

.button_bar button {
	text-align: center;
	font-size: 1.25rem;
	font-weight: bold;
	width: 12rem;
	height: 3rem;
}

.answer_area_radio li {
	list-style-type: none;
}
