@charset "utf-8";

html {
	font-family: "Linux Biolinum", sans-serif;
}

main {
	max-width: 50em;
	margin: 1em 5em;
}

.button_bar {
	text-align: right;
}

.button_bar button {
	text-align: center;
	font-size: 1.25rem;
	font-weight: bold;
	min-width: 12rem;
	height: 3rem;
	padding: 0.2em 0.5em;
}

.answer_area_radio li {
	list-style-type: none;
}

.result_False {
	color: red;
}

.result_True {
	color: green;
}

/** SVG **/
/* NOTE: тут 1px — не 1px, а относительная единица. */

text {
	fill: currentColor;
	stroke: none;
}

.map {
	color: #322;
	font-family: "Open Sans", sans-serif;
}

.map a {
	color: inherit;
}

.map a:hover {
	color: #C30;
}

.map .town {
	font-size: 3px;
	font-variant: small-caps;
}

.map .town-name {
	stroke: none;
	font-weight: bold;
}
