.flex_box{
	display: inline-flex;
	flex-direction: column;
	border: 1px solid;
}

.row{
	display: flex;
	flex-direction: row;
	height: max(60px, min(8vw, 96px));;
}

.field {
	display: flex;
	font-family: Montserrat Alternates;
	font-weight: 600; 
	font-size:64px;
	border:1px black solid;
	justify-content: center;
	text-align: center;
	width: max(60px, min(8vw, 96px));
	align-items: center;
}

.fieldInput {
	font-family: Montserrat Alternates;
	font-weight: 400;
	font-size:64px;
	stroke: black;
	display: block;
    margin:auto;
    width: 80%;
    height: 80%;
    text-align: center;
    background: none;
}

.fieldinput:focus{
	outline: none;
}

.fieldInput_1 {
	color: #FF3D00;
}
.fieldInput_2 {
	color: #0066FF;
}
.fieldInput_3 {
	color: #C414F0;
}
.fieldInput_4 {
	color: #FF9900;
}
.fieldInput_5 {
	color: #67C91A;
}