.content_wrapper {
	width: 100%;
	padding: 0 min(5vw, 80px) 80px min(5vw, 80px);
	margin-top: 130px;
	box-sizing: border-box;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 40px;
	display: inline-flex;
}

.town-icon {
	stroke: currentColor;
	stroke-width: 6px;
	fill: transparent;
}

.town-name {
	fill: #B62C5A;
}

text.town-name {
	dominant-baseline: central;
	text-anchor: middle;
	fill: currentColor; 
	font-size: 24px; 
	font-family: Montserrat Alternates; 
	font-weight: 700;
}

a.town {
	color: white;
}

a.town.town_completed {
	color: #bdbdbd !important;
}

@media(min-width: 961px) {
	a.town:hover {
		color: #ffc400;
	}
}