.boy {
    cursor: grab;
}

svg {
    width: 30%;
    z-index: 2;
    position: relative;
}

rect.container_header {
    fill: lightgrey;
    stroke-width: 1px;
    stroke: grey;
}

text.container_title {
    text-anchor: middle;
    color: #696f8bff;
}

text.name {
    text-anchor: middle;
    color: white;
}

text.boardName {
    text-anchor:middle;
    color: #502D16;
}

.choiced {
    cursor: grabbing;
    z-index: 10;
    position: relative;
}

.svg_with_buttons {
    width: 100%;
    justify-content: center;
    align-items: stretch;
    display: inline-flex;
    gap: 80px;
}

.buttons {
    display: inline-flex;
    flex-direction: column;
    gap: 15px;
    max-width: 20%;
    align-items: stretch;
    font-size: max(14px, 1.5vw);
    font-family: Montserrat;
}
