.boy {
    cursor: grab;
}

svg {
    width: 90%;
    z-index: 2;
    position: relative;
}

rect.container_header {
    fill: lightgrey;
    stroke-width: 1px;
    stroke: grey;
}

text.container_title {
    text-anchor: middle;
    color: #696f8bff;
}

text.name {
    text-anchor: middle;
    color: white;
}

text.boardName {
    text-anchor:middle;
    color: #502D16;
    font-size: 18px;
}

.choiced {
    cursor: grabbing;
    z-index: 10;
    position: relative;
}


