.cubes-container {
	width: 70%;
	display: inline-flex;
	justify-content: space-between;
}

.cube-with-num {
	display: inline-flex;
	flex-direction: column;
	gap: 22px;
	align-items: center;
	padding: 20px;
	border-radius: 20px;
}

.cube-with-num_active {
	background-color: rgba(225, 225, 225, 1);
	box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.3);
}

.cube-with-num__cube {
	width: 100px;
	height: 100px;
	cursor: pointer;
	transition: 0.3s all;
}

.cube-with-num__num {
	font-size: 2em;
}

@media screen and (hover: hover) {
	.cube-with-num:hover {
		background-color: rgba(225, 225, 225, 1);
		box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.3);
		opacity: 0.5;
	}
}

@media screen and (width < 1280px){
	.cubes-container {
		width: 100%;
	}
}

@media screen and (width < 600px){
	.cube-with-num__cube {
		width: 60px;
		height: 60px;
	}
}