@charset "utf-8";
@import "biolinum/font.css";

* {
	margin: 0;
	padding: 0;
}

:root {
	font-family: "Linux Biolinum", sans-serif;
}

button, input {
	font-size: 1em; /* yes this is not the default */
	font-family: inherit; /* neither this is */
}

body {
	margin: 1em 0;
}

main {
	hyphens: auto;
	text-align: justify;
}

nav {
	margin-bottom: 0.5em;
}

main, nav {
	font-size: 1.5rem;
}

:root.map svg.map {
	margin: 1em 0em;
}

.content_wrapper {
	max-width: 50em;
	margin-left: auto;
	margin-right: auto;
}

p {
	margin: 0.5em 0.0em;
}

h1.title {
	font-size: 3rem;
}

h1 {
	font-size: 2rem;
}


.classic_form {
	width: 16em;
}

.classic_form .label,
.classic_form input {
	display: block;
	width: 100%;
}

.classic_form label {
	display: block;
	margin: 0.5em 0.0em;
}

.answer_bar {
	display: flex;
	justify-content: flex-start;
	flex-flow: row wrap;
	gap: 1.0em;
	margin: 1.5em 0em;
	line-height: 2.0em;
	dominant-baseline: middle;
}

.answer_bar button {
	padding: 0.3em 1.0em;
	width: 8em;
}

.answer_bar input[type=number] {
	padding: 0.3em;
	appearance: textfield;
	width: 6em;
	text-align: right;
}

nav.user_nav {
	position: absolute;
	right: 0;
	top: 0;
}

nav.user_nav ul {
	text-align: right;
	margin: 0.5em 0.0em;
}

nav.user_nav li {
	display: inline;
	margin: 0.0em 1.0em;
}

section.hint {
	border: 2px solid rgba(0, 0, 0, 0.15);
	margin: 2em 0em;
	padding: 0.5em 1em;
}

.answer_area_radio li {
	list-style-type: none;
}

.result_area {
	margin: 2.0rem;
	font-size: 2.5rem;
	text-align: center;
}

.error,
.result_False {
	color: red;
}

.result_True {
	color: green;
}


.number_square {
	border-spacing: 0;
	border-collapse: collapse;
	font-size: 1.25em;
	margin: 0.75em auto;
}

.number_square td {
	width: 1.75em;
	height: 1.75em;
	text-align: center;
	vertical-align: middle;
	border: 0.1em solid currentColor;
}

.grid {
	border-spacing: 0;
	border-collapse: collapse;
	font-size: 4.0rem;
	margin: 1.0rem auto;
}

.grid td {
	min-width: 1.0em;
	width: 1.0em;
	height: 1.0em;
	text-align: center;
	vertical-align: middle;
	border: 0.03em solid rgba(0, 0, 0, 0.2);
}

.grid td .label {
	display: block;
	font-size: 65%;
}


.field td.tile {
	border: 0.07em solid currentColor;
	background: #7C0;
}

.field td.tile:hover {
	background: #AF6;
}

.field td.tile.checked {
	background: #FA6;
}

.field td.tile.checked:hover {
	background: #F60;
}


.glass-bridge td.land {
	background: #390;
	min-width: 1.0em;
	width: 2em;
	border: none;
}

.glass-bridge td.water {
	background: #69C;
	height: 2em;
	border: none;
}

.glass-bridge td.tile {
	border: 0.07em solid currentColor;
	background: #c9daf8;
}

.glass-bridge td.tile:hover {
	background: #72b2ff;
}

.glass-bridge td.tile.checked {
	background: #FC6;
}

.glass-bridge td.tile.checked:hover {
	background: #F90;
}


.chess td {
	background: #ffffff;
	border: 0.07em solid currentColor;
}

.chess tr:nth-child(odd) td:nth-child(even),
.chess tr:nth-child(even) td:nth-child(odd)
{
	background: #e26e10;
}


.picture {
	display: block;
	margin: 0.5em auto;
}

img.picture {
	width: 100%;
}

.geometry {
	fill: none;
	stroke: #05B;
	stroke-width: 2px;
	stroke-linecap: round;
}

.geometry text {
	font-size: 16px;
}

.geometry .angle {
	stroke: #E30;
	stroke-width: 1px;
}

/** SVG **/
/* NOTE: тут 1px — не 1px, а относительная единица. */

text {
	fill: currentColor;
	stroke: none;
}

svg.map {
	color: #ffffff;
	font-family: "Open Sans", sans-serif;
}

svg.map a {
	color: inherit;
}

svg.map a:hover {
	color: #ffd200;
}

svg.map .town {
	font-size: 24px;
	font-variant: small-caps;
}

svg.map .town-name {
	stroke: none;
	font-weight: bold;
}

svg.map .town_completed {
	color: #bdbdbd;
}

svg.map .level {
	text-anchor: middle;
	dominant-baseline: central;
	font-size: 60px;
	font-weight: bold;

	fill: currentColor;
	stroke-width: 2px;
}

svg.map .level-value {
	stroke: inherit;
}

svg.map .level_open:hover {
	color: #ffe488;
	stroke: #9b785c;
}

svg.map .level_open {
	color: #ffc400;
	stroke: #b36d2a;
}

svg.map .level_solved {
	color: #77cc33;
	stroke: #339900;
}

svg.map .level_solved:hover {
	color: #99dd44;
	stroke: #55aa33;
}

svg.map .level_failed {
	color: #dd5533;
	stroke: #993300;
}

svg.map .level_failed:hover {
	color: #ee6644;
	stroke: #aa4433;
}


form.login{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 5% 5% 5% 5%;
	height: 60%;
}

.login_form{
	-webkit-user-select: none;
	user-select: none;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 60vh;
	height: 45vh;
	margin: 20vh auto auto auto;
	background-color: #EDECEF;
	border: 3px solid #D5D5D7;
	border-radius: 10px;
	text-align: center;
	color: #494949;
}

.login_form_header{
	height: 10%;
	font-size: 3.5vh;
	font-weight: 900;
	padding: 1% 0 0 0;
}

.form_field{
	font-size: 2.7vh;
	border: 2px solid #D5D5D7;
	border-radius: 5px;
	padding: 0 0 0 2%;
	background-color: #F5F5F5;
	height: 30%;
}

.submit_button{
	font-size: 3vh;
	margin-top: 2vh;
	height: 30%;
	border: 1px solid #494949;
}

.submit_button:hover{
	cursor: pointer;
	background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
}

.auth_button_bar {
	display: flex;
	height: 13%;
	padding: 0 0 0 5%;
	border-top: 3px solid #D5D5D7;
	border-bottom: 3px solid #D5D5D7;
}

.button_bar_text{
	font-size: 2.4vh;
	margin: auto auto auto 0;
}

.button_bar_item{
	width: 17%;
	border-left: 2px solid #D5D5D7;
}

.button_bar_item a{
	display: block;
	width: 100%;
	height: 100%;
}

.vk{
	background-size: 55%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("../static/vk_icon.png");
}

.button_bar {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 2.0em;
	margin: 1.5em 0em;
}

.button_bar button {
	text-align: center;
	font-family: inherit;
	font-size: 1.25rem;
	font-weight: normal;
	min-width: 12rem;
	height: 3rem;
	padding: 0.2em 0.5em;
}

.anon_reg{
	text-align: center;
	vertical-align: middle;
	font-size: 3vh;
	padding: 0.5vh 0.5vh;
}

.reg_form{
	-webkit-user-select: none;
	user-select: none;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 30vw;
	min-width: 400px;
	margin: 10vh auto auto auto;
	background-color: #EDECEF;
	border: 3px solid #D5D5D7;
	border-radius: 10px;
	text-align: center;
	color: #494949;
}

.reg_form input{
	font-size: 20px;
	border: 2px solid #D5D5D7;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 0 0 0 2%;
	background-color: #F5F5F5;
}

.reg_form select{
	font-size: 20px;
	border: 2px solid #D5D5D7;
	border-radius: 5px;
	padding: 0 0 0 1%;
	background-color: #F5F5F5;
	box-sizing: border-inside;
	font-family: inherit;
}

.reg_form select:required:invalid{
	color: #757575;
}

option[value=""][disabled] {
	display: none;
}

option{
	color: black;
}

.reg_form_header{
	height: 10%;
	font-size: 26px;
	font-weight: 900;
	padding: 1% 0 0 0;
}

.reg_button{
	font-size: 24px;
	border: 1px solid #494949;
	box-sizing: border-box;
}

.reg_button:hover{
	cursor: pointer;
	background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
}

form.reg{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 5% 5% 5% 5%;
}

.back_to_log{
	text-align: center;
	font-size: 24px;
	padding: 0.5vh 0.5vh;
}

.reg_dialog{
	position: fixed;
	margin: 2vh auto 0 auto;
	padding: 10px;
	z-index: 1;
	text-align: center;
}

.blur_zone{
	filter: blur(5px);
	pointer-events: none
}
