@charset "utf-8";
@import "biolinum/font.css";

* {
	margin: 0;
	padding: 0;
}

html {
	font-family: "Linux Biolinum", sans-serif;
	background: #cdbd92;
	color: #050300;
}

main {
	max-width: 50em;
	margin: 1em auto;
}

main.map {
	max-width: initial;
	margin: 1em 4em;
}

p {
	margin: 0.5em 0.0em;
}


.classic_form {
	margin: 1em auto;
	width: 16em;
}

.classic_form .label,
.classic_form input {
	display: block;
	width: 100%;
}

.classic_form label {
	display: block;
	margin: 0.5em 0.0em;
}


.button_bar {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;
	gap: 2.0em;
}

.button_bar button {
	text-align: center;
	font-family: inherit;
	font-size: 1.25rem;
	font-weight: normal;
	min-width: 12rem;
	height: 3rem;
	padding: 0.2em 0.5em;
}

nav.user_nav {
	position: absolute;
	right: 0;
	top: 0;
}

nav.user_nav ul {
	text-align: right;
	margin: 0.5em 0.0em;
}

nav.user_nav li {
	display: inline;
	margin: 0.0em 1.0em;
}

.answer_area_radio li {
	list-style-type: none;
}

.error,
.result_False {
	color: red;
}

.result_True {
	color: green;
}


.number_square {
	border-spacing: 0;
	border-collapse: collapse;
	font-size: 1.25em;
}

.number_square td {
	width: 1.75em;
	height: 1.75em;
	text-align: center;
	vertical-align: middle;
	border: 0.1em solid currentColor;
}

.geometry {
	display: block;
	margin: 0.5em auto;

	fill: none;
	stroke: #05B;
	stroke-width: 2px;
	stroke-linecap: round;
}

.geometry text {
	font-size: 16px;
}

.geometry .angle {
	stroke: #E30;
	stroke-width: 1px;
}

/** SVG **/
/* NOTE: тут 1px — не 1px, а относительная единица. */

text {
	fill: currentColor;
	stroke: none;
}

svg.map {
	color: #f9e7b4;
	font-family: "Open Sans", sans-serif;
}

svg.map a {
	color: inherit;
}

svg.map a:hover {
	color: #ffd200;
}

svg.map .town {
	font-size: 3px;
	font-variant: small-caps;
}

svg.map .town-name {
	stroke: none;
	font-weight: bold;
}


svg.map .level {
	text-anchor: middle;
	dominant-baseline: central;
	font-size: 6px;
	font-weight: bold;

	fill: currentColor;
	color: #bebebe;
	stroke: #808080;
	stroke-width: 0.2px;
}

svg.map a.level:hover {
	color: #ffe488;
	stroke: #9b785c;
}

svg.map .level-value {
	stroke: inherit;
}

svg.map a.level {
	color: #ffc400;
	stroke: #b36d2a;
}
