.tap {
    cursor: pointer;
}

.pot {
    cursor: pointer;
}

.tap.choiced {
    filter: drop-shadow(0px 0px 4px gray);
}

image.pot.choiced {
    filter: drop-shadow(0px 0px 4px gray);
}

.pot_form {
    stroke: black;
    stroke-width: 10;
}
.reload {
    cursor: pointer;
}