.problem-plot {
	display: inline-flex;
	justify-content: center;
	width: 100%;
	gap: 20px;
}

.drop-container {
	display: inline-flex;
	overflow: hidden;
	border-radius: 10px;
}

.drop-container__background {
	width: 700px;
}

.drop-container__content {
	position: absolute;
	display: inline-flex;
	gap: 120px;
	width: 700px;
	margin-top: 196px;
	justify-content: center;
	align-self: center;
}


.drag-container {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	gap: 30px;
	padding: 10px 10px;
	background-color: rgba(166, 166, 166, 0.2);
	border-radius: 10px;
	width: 110px;
}

.drag-person {
	width: 110px;
	height: 164px;
	cursor: pointer;
}


.drag-person_target {
	position: fixed;
	z-index: 1;
	transform: translate(-50%, -50%);
}

.drag-person_placeholder {
	opacity: 0.5;
}

.place {
	width: 110px;
	height: 164px;
}

.place_first {
	position: relative;
	top: -10px;
}

.place_third {
	position: relative;
	top: 10px;
}