svg {
	width: 50%;
}

line {
	stroke-width: 1px;
	stroke: black;
	stroke-linecap: round;
}

.star {
	fill: yellow;
	stroke-width: 1px;
	stroke: black;
	cursor: pointer;
	transition: all 0.3s;
}

.star_choosed-true {
	fill: darkorange;
}