.play-board__button {
	border: none;
	display: inline-flex;
	padding: 10px 20px;
	background-color: #1E8B93;
	border-radius: 10px;
	color: white;
	font-size: 0.7em;
	font-weight: 600;
	font-family: Montserrat Alternates;
	cursor: pointer;
}

.play-board {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	width: 40%;
}

.possible_position {
	fill: lightgreen;
	stroke: none;
	filter: blur(1px);
	pointer-events: none;
}

.cockerel {
	pointer-events: none;
}

rect {
	cursor: pointer;
}

.turn_sign {
	font-weight: 600;
	font-size: 3vw;
}

.turn_sign.player {
	color: lightgreen;
	text-stroke: 1px darkgreen;
	-webkit-text-stroke: 1px darkgreen;
}

.turn_sign.computer {
	text-stroke: 1px darkred;
	-webkit-text-stroke: 1px darkred;
	color: lightcoral;
}