.plot_area {
    margin-top: 50px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
} 

line {
    stroke: black;
	stroke-linecap: round;
}

.field {
    fill: white;
}

.questionField {
    fill: lightgreen;
}

text {
    font-size: 40px;
    text-anchor: middle;
    pointer-events: none;
}