line {
    stroke: black;
	stroke-linecap: round;
}

.field {
    fill: white;
}

.questionField {
    fill: lightgreen;
}

text {
    font-size: 40px;
    text-anchor: middle;
    pointer-events: none;
}

svg {
    width: 80%;
}