.program_plot {
	width: 100%;
	display: inline-flex;
	flex-direction: column;
	gap: 40px;
}

.editor_area {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: flex-start;
}

.editor_area_buttons {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 20px;
	align-self: stretch;
}

.editor_area_buttons > .button {
	padding: 10px 20px;
	border-radius: 10px;
	border: 2px solid #1E8B93;
	color: #1E8B93;
	background-color: white;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
}

.editor_area_buttons > .button.passive {
	opacity: 0.4;
}

.text_input {
	width: 100%;
	display: inline-flex;
}

.textarea_wrapper {
	width: 100%;
	display: inline-flex;
	border-radius: 10px;
	overflow: hidden;
}

.textarea_wrapper > textarea {
	width: 100%;
	height: 472px;
	overflow: scroll;
	scrollbar-width: thin;
	padding: 20px;
	background: #EEEEEE;
	font-size: 24px;
	outline: none;
	border: none;
}

.filearea_wrapper {
	width: 100%;
	padding: 20px;
	border-radius: 10px;
	background-color: #EEEEEE;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.file_input {
	display: flex;
	width: 100%;
}

.file_input .status {
	font-size: 20px;
	display: inline-flex;
	flex-direction: row;
	gap: 20px;
}

.file_input input[type=file] {
	display: none;
}

.file_input label {
	display: inline-block;
	cursor: pointer;
	font-size: 20px;
	border-radius: 10px;
	border: 2px black solid;
	padding: 10px 20px;
}

.select_language {
	display: flex;
	margin-left: auto;
}

.select_language::before {
	content: "Язык:";
	font-weight: 700;
	font-size: 20px;
	align-self: center;
	margin-right: 20px;

}

.select_language > select {
	-webkit-appearance: none; 
	-moz-appearance: none; 
	-ms-appearance: none; 
	appearance: none;
	gap: 10px;
	display: inline-flex;
	background: url('../../icons/custom_select_arrow.svg') no-repeat right center; 
	background-color: #E1E1E1;
	border-radius: 10px;
	font-size: 20px;
	cursor: pointer;
	padding: 0 40px 0 20px;
	border: none;
}

select > option {
	background: rgba(255, 255, 255, 0.7);
}

.send_button_area {
	display: inline-flex;
	flex-direction: row;
	gap: 40px;
}

.send_button {
	cursor: pointer;
	color: white;
	border-radius: 10px;
	box-shadow: 4px 4px 10px 0px #00000040;
	background: #1E8B93;
	padding: 10px 20px;
}

.tries_area {
	display: inline-flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
}

.tries_area > p {
	white-space: nowrap;
	font-weight: 600;
	font-size: 20px;
	font-family: Montserrat Alternates;
}

.submit_form_plot {
	display: inline-flex;
	flex-direction: column;
	gap: 20px;
}

.update_button {
	align-self: self-start;
	display: flex;
	padding: 10px 20px;
	border-radius: 10px;
	border: 2px solid #1E8B93;
	color: #1E8B93;
	background-color: white;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
}

.submit_table {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	font-size: 20px;
	text-align: center;
	row-gap: 1px;
}

.table_header_item {
	font-weight: 700;
	font-family: Montserrat Alternates;
	background-color: white;
	padding-bottom: 20px;
}

.table_item {
	background-color: white;
	border-top: 1px solid #1E8B93;
	align-content: center;
	font-family: Montserrat Alternates;
}