.tap {
    cursor: pointer;
}

.pot {
    cursor: pointer;
}

.tap.choiced {
    filter: drop-shadow(0px 0px 4px gray);
}

image.pot.choiced {
    filter: drop-shadow(0px 0px 4px gray);
}

.pot_form {
    stroke: black;
    stroke-width: 10;
}
.reload {
    cursor: pointer;
}

.volumeText {
    text-anchor: middle;
    font-size: 60px;
    color: black;
}

.svg_with_clear_button {
    width: 60%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.clear_button {
    padding: 10px 0;
    border-radius: 10px;
    width: 60%;
    height: 50px;
    border-color: black;
    background: linear-gradient(180deg, #FCFCFC 16%, white 20%, #FFFFFF 55%, #EFEFEF 80%);
    text-align: center;
    color: black;
    font-size: max(20px, min(2.7vw, 24px));
    font-family: Montserrat;
    font-weight: 600;
    word-wrap: break-word;
    cursor: pointer;
}